@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

    color: white;
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: center;
    
}
canvas {
    display : block;   
    margin : auto;
}
body{
    background-color: rgb(148, 148, 148);
}